# For QSDsan
qsdsan==1.4.3
exposan==1.4.3
country-converter
fdasrsf
scikit-fda

# To pull the repo
nbgitpuller

# To enable slide show
jupyter_contrib_nbextensions
rise

# For the interactive modules
ipywidgets
jupyterlab-widgets
widgetsnbextension

# Machine learning
xgboost